---
import Layout from "../layouts/Layout.astro";
import ForsideCard from "../components/ForsideCard.astro";
---

<Layout>
  <h1>Index</h1>

  
  <section class="kategori-container">
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
  </section>
</Layout>

<style>
  .kategori-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
  }
</style>
