---
import Layout from "../layouts/Layout.astro";
import ForsideCard from "../components/ForsideCard.astro";
---

<Layout>
  <h1>Index</h1>
  <section class="intro-container">
    <h1>A HOUSE BUILT ON STORIES, IDENTITIES, AND IMPACT.</h1>
    <p>
      We turn packaging into strategic lever - creating value for business,
      customers, and planet.
    </p>
    <button>Explore full tóki flow</button>
  </section>

  <section class="kategori-container">
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
    <ForsideCard
      kategoriTitle="Kunst og Kultur"
      kategoriBeskrivelse="Her kan du skrive en kort beskrivelse"
    />
  </section>
</Layout>

<style>
  .kategori-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
  }

  .intro-container {
	width: 400px;
	align-items: end;
	margin: 4rem 2rem;
  }
</style>
