<!-- FOOTER -->
<footer class="flow-footer" id="contact">
  <div class="flow-footer-inner">
    <p class="flow-footer-tagline">
      From insight to impact,<br />
      we balance strategy, storytelling and sustainability to deliver packaging that truly matters.
    </p>

    <div class="flow-footer-columns">
      <div>
        <h4>ABOUT</h4>
        <ul>
          <li><a href="#">Tﾃ適I UNIVERS</a></li>
          <li><a href="#">Tﾃ適I FAMILY</a></li>
          <li><a href="#">Tﾃ適I EXTENDED FAMILY</a></li>
        </ul>
      </div>

      <div>
        <h4>OUR WORK</h4>
        <ul>
          <li><a href="#">Tﾃ適I FLOW</a></li>
          <li><a href="#">CASES</a></li>
        </ul>
      </div>

      <div>
        <h4>CONTACT</h4>
        <ul>
          <li>GENERAL</li>
          <li><a href="mailto:hello@toki.house">hello@toki.house</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
