<header>
  <img src="" alt="logo" />
</header>
<button>X</button>
<nav>
  <a href="/">Home</a>
  <a href="/case">OUR CASES</a>
  <a href="/strategy">OUR STRATEGY</a>
  <a href="/family">OUR FAMILY</a>
  <a href="/contacts">OUR CONTACTS</a>
</nav>

<style>
  body,
  html {
    overflow-x: hidden;
  }

  header {
    padding: 2rem;
    background-color: #928e80;
    position: fixed;
    width: 100%;
  }
  nav {
    position: fixed;
    right: -25%;
    top: 0;
    background: rgba(242, 239, 233, 0.8);
    padding-top: 60px;
    padding-left: 5px;
    transition: right 0.7s ease;
    box-shadow: #908778 0px 0px 15px 3px;
  }
  a {
    display: block;
    margin-bottom: 0px;
    margin-top: 60px;
    text-decoration: none;
    color: #594534;
    font-size: 4vh;
  }

  a:hover {
    text-decoration: underline;
  }
  button {
    z-index: 10;
    position: fixed;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    border: none;
    padding: 1rem;
  }
  button:hover .sidebar {
    right: 0;
  }

  .sidebar:hover {
    right: 0px;
  }

  .menuBtn {
    content: "";
    width: 80px;
    height: 40px;
    background-color: #8c846c;
    position: fixed;
    top: 40px;
    right: 40px;
    box-sizing: border-box;
    border-radius: 1000px;
  }
</style>

<script>
  const button = document.querySelector("button");
  const nav = document.querySelector("nav");

  button.addEventListener("click", () => {
    if (nav.style.right === "0px") {
      nav.style.right = "-25%";
    } else {
      nav.style.right = "0px";
    }
  });
</script>
