---
import Header from "../components/Header.astro";
import Forside from "../components/Forside.astro";
import Forside2 from "../components/Forside2.astro";
import "../style/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Forside />
    <Forside2 />
    <slot />
  </body>
</html>
